@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --primary: #00234B;

    --foreground: #00234B;

    --background: #ffffff;
    --background2: #5163FF;
    --background3: #0C0129;

    --text: #00234B;
    --text2: #838A95;
    --text3: #5163FF;
  }
}


@layer base {

  body {
    @apply bg-background font-primary leading-none;
  }

  a {
    @apply cursor-pointer;
  }

  p {
    @apply leading-[2] text-[18px] text-text-2;
  }
}

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}