@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #00234B;
  
  --foreground: #171717;

  --background: #ffffff;
  --background2: #5163FF;
  --background3: #0C0129;

  --text: #00234B;
  --text2: #838A95;
  --text3: #5163FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
